*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue:#0084FD;
    --lblue:#B5DDFF;
    --white:#FFFFFF;
    --lille:#9792E4;
    --dark:#333333;
}


/*common rule*/
.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.sp-between{
    justify-content: space-between;
}
ul{
    list-style: none;    
}
a{
    text-decoration: none;
}
[class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
}
.col-8{
    width: calc(100%/12*8);
}
.col-4{
    width: calc(100%/12*4);
}
.col-3{
    width: calc(100%/12*3);
}
.col-6{
    width:50%;
}
.col-12{
    width: 100%;
}
.d-flex {
    display: flex;
}
.center-demo{
    text-align: center;
}
/*end common rule*/

/*Responsive*/

/*Small screen*/
@media screen and (min-width:768px) {
    .container{
        width:90%
    }
    .col-md-8{
        width: calc(100%/12*8);
    }
    .col-md-4{
        width: calc(100%/12*4);
    }
    .col-lg-6{
        width:50%;
    }
    .left-demo{
        text-align: left;
    }
}
/*end small screen*/

/*Medium screen*/
@media screen and (min-width:1024px) {
    .container{
        width: 90%;
    }
    
}
/*edn medium screen*/

/*End Responsive*/

/*Debug*/
.debug .container{
    border: 2px solid red;
}
.debug #site_header{
    background-color: yellow;
    height:50px;
}
.debug [class^="col-"]{
    border: 2px dashed black;
    min-height: 200px;
}

.debug section:nth-of-type(odd) {
    background-color:greenyellow;
  }
.debug section:nth-of-type(even) {
    background-color: orange;
  }
.debug #site_footer{
    background-color: brown;
    height: 70px;
}
/*end dbug*/


/*header*/
#site_header {
    
    background-color: var(--blue);
}
.menu{
    display: flex;

}

/*end header*/

/*Main*/
section:nth-of-type(odd) {
    background-color: var(--white);
  }
  
section:nth-of-type(even) {
    background-color: var(--lille);
}

/*end main*/