*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

}


/*common rule*/
.container{
    width: 80%;
    max-width: 1152px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.sp-between{
    justify-content: space-between;
}
ul{
    list-style: none;    
}
a{
    text-decoration: none;
}
[class^="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
}
.col-8{
    width: calc(100%/12*8);
}
.col-4{
    width: calc(100%/12*4);
}
.col-3{
    width: calc(100%/12*3);
}
.col-6{
    widht:50%;
}
/*end common rule*/

/*Debug*/
.debug .container{
    border: 2px solid red;
}
.debug #site_header{
    background-color: yellow;
}
.debug [class^="col-"]{
    border: 2px dashed black;
    min-height: 200px;
}

/*ened dbug*/

/*header*/
#site_header {
    height:50px;
    background-color: ;
}
.menu{
    display: flex;

}

/*end header*/

/*Main*/
main:nth-of-type(odd) {
    background: ;
  }
  
main:nth-of-type(even) {
    background: ;
  }


/*end main*/